Repository gardener/gardener-metrics-exporter, pull requests merged in 2024-02, with the labels that each got.

#94 Fix chart upgrades
  charts/gardener-metrics-exporter/charts/runtime/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#95 Improvement, shoot, worker group node max / min count
  README.md
  pkg/metrics/metrics.go
  pkg/metrics/shoot.go
  pkg/metrics/types.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#96 Upgrade golang and dependencies
  cmd/gardener-metrics-exporter/app.go
  cmd/main.go
  dashboards/shoot-customization-dashboard.json
  go.mod
  go.sum
  pkg/metrics/managed_seed_test.go
  pkg/metrics/shoot.go
  pkg/metrics/shoot_customization.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl

#99 Make repo compliant
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  Makefile
  NOTICE.md
  README.md
  cmd/gardener-metrics-exporter/app.go
  cmd/main.go
  pkg/metrics/managed_seed.go
  pkg/metrics/managed_seed_test.go
  pkg/metrics/metrics.go
  pkg/metrics/project.go
  pkg/metrics/seed.go
  pkg/metrics/shoot.go
  pkg/metrics/shoot_customization.go
  pkg/metrics/utils.go
  pkg/server/server.go
  pkg/template/template.go
  pkg/utils/errors.go
  pkg/utils/logger.go
  pkg/version/version.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, area/ipcei
